body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #3498db;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.buttonStyle {
    background-color: #ffffff;
    color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .content {
    display: block;
}

.logout-btn {
    background-color: #ffffff;
    color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: Arial, sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Title {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 20px;
}

.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 20vh;
}
